body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;  
}
h1{
    font-size: 30px;
}
h2{
    color: rgb(196, 32, 114);
    font-weight: 700;
    font-size: 40px;
}
.link-button{
    text-decoration: none;
    background-image:  linear-gradient(#e72b73, #db0b7a);
    background-color: rgb(196, 32, 114);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    }
.half-width{
        width: 35%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
    }
.half-width img{
        width: 100%;
    }
    section{
        height: 500px;
    }
    .top-banner{
        
        background-image: url("images/header-bg.png");
        background-repeat: no-repeat;
    }
     
     
   
    .midle-banner{
        background-image: url("images/biography-bg.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    .work-page{
        width: 1170px;
        margin: auto;
    }
     
     
.works{
      width:30% ;
      display: inline-block;
     margin-left:1%;
    padding-left: 2%;
    
}
.works img{
    width: 100%;
    
}
.align{
    text-align: center;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: center;
} 
#clients-section{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 0px;
 
}
#clients-section h2{
    margin: 80px 0px;
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
}
.container{
    width: 1170px;
    margin: auto;
}
.bruce-client{
   text-align: center;
 
}
.bruce-client h4{
    margin-bottom: 0;
}
.bruce-client span{
    font-size: 12px;
    font-weight: 600;
    color: gray;
 
}
.bruce-client p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(26, 25, 25);
}
.contact-info{
    width: 600px;
    margin: auto;
    background-image:linear-gradient(45deg,lightsalmon,tomato) ;
    margin-top: 70px;
    text-align: center;
    padding: 50px 40px;
    font-weight: 600;
    border-radius: 5px;
}
.contact-info a{
    text-decoration: none;
    color: white;
}
/* Clients Section End */
/* Footer Section */
footer{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: gray;
}
/* Footer Section */
      


